.user-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

ul.user-list li {
  border: 1px solid #666;
  margin-bottom: 10px;
  padding: 10px;
  color: #333;
  font-size: 14px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
ul.user-list li:last-child {
  margin-bottom: 0;
}
.No-records {
  text-align: center;
  margin: 0;
}

ul.user-list li h5 {
  margin: 0;
  padding: 0;
}
ul.user-list li span {
  color: red;
  cursor: pointer;
}
